@import "./../../Style/Utils/Variables.css";

.nav_list{
    display: flex;
    list-style: none;
    font-size: 24px;  
}

.nav_link {
    display: block;
    padding-left: 90px;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    
}

.nav_link:hover {
    text-decoration: underline;
}